html {
    font-size: 100px;
}
body {
    font-size: 0.12rem;
}
/* iphone 6 */
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2) {
    html {
        /*font-size: 117.1875px;*/
        font-size: 100px;
    }
}
/* iphone6 plus */
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3) {
    html {
        /*font-size: 115.375px;*/
        font-size: 110px;
    }
}
html, body {
    padding: 0;
    margin: 0;
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Microsoft YaHei', Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
}
input[type="button"], button {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
img {
    border: 0;
}
ol, ul, li, dl, dt, dd, tr, td, table {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}