.bottom_line,
.top_line {
    position: relative;
}
.bottom_line::before,
.top_line::before {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.top_line::before {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    top: 0;
}
.bottom_line::before {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    bottom: 0;
}

/* cell */
.cells_title {
    padding: 0.07rem;
    background-color: #efeff4;
    color: #909090;
    line-height: 0.16rem;
}
.common_cells {
    position: relative;
    background-color: #fff;
}
.common_cells .cell{
    margin-left: 0.16rem;
    position: relative;
    padding: 0.12rem 0;
    display: block;
}
.common_cells .cell.hide{
     display:none;
}
.common_cells .cell:first-child:before{
    display: none;
}
.common_cells .cell .cell_hd,
.common_cells .cell .cell_bd,
.common_cells .cell .cell_ft{
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
}
.common_cells .cell .cell_hd{
    padding-right: 0.1rem;
}
.common_cells .cell .cell_bd{
    width: 2000px;
}
.common_cells .cell .cell_ft{
    text-align: right;
    padding: 0 0.1rem;
}
.common_cells .cell .cell_r{
    position: relative;
}
.common_cells .cell .cell_r:after{
    content: '';
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd !important;
    border-style: solid;
    margin-left: 0.05rem;
}
.common_cells:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.common_cells .cell:before,
.common_cells:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.common_cells .cell .cell_multiline{
    white-space: pre-wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    resize: none;
}
.common_cells .cell .cell_singleline {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.defaultTip {
    padding-top: 0.65rem;
    display: block;
    margin: 0 auto;
    background: url('../images/wechat.png') no-repeat center top;
    background-size: 0.56rem 0.59rem;
    text-align: center;
    text-shadow: 0 0 3px #444;
    color: #f2f2f2;
}